
header,section,footer{
    border: 1px solid darkgray;
    width:1000px;
}
.title{
    border:1px solid darkgrey;
    width: 60px;
    height:60px;
    border-radius:50%;
    box-shadow:0px 0px 10px darkgray,  0 0 6px darkgray ;
    margin-left:50px;
}
.title img{
    margin:13px;
}
header h1{
    margin-left:500px;
    margin-top:-50px;
}
.name4{
    width: 120px;
    height: 260px;
    background-color: #FFFFFF;
    position: absolute;
    display: none;
    opacity:0.5;
}
.name4 a{
    text-decoration:none;
    text-align:center;
    color:#000000;
}
header  .title:hover .name4{
    display: block;
}
.name5{
    float:right;
    margin-top:-90px;
}
.name8{
    border:1px solid #000000;
    width:250px;
    height:40px;
    border-radius:30px;
    position:relative;
    left:140px;
    top:-80px;
}
#name{
    border-style:none;
    outline:none;
    width:210px;
    height:20px;
    position:relative;
    top:5px;
    left:10px;
}
#name1{
    height:28px;
}
#name2{
    background-color: rgba(135, 99, 108, 0);
    border-style:none;
    position:relative;
    top:-20px;
    left:200px;
    outline:none;
}
.name7{
    position:relative;
    top:-15px;
}
.name16{
    position:relative;
    top:90px;
    left:40px;
}
#name11{
    position:relative;
    left:80px;
}
.name20{
    position:relative;
    top:40px;
    left:300px;
}
#name18{
    border:1px solid darkgray;
    background-color:darkgray;
    width:70px;
    height:1px;
}
#name31{
    border-radius:30px;
    height:40px;
    width:200px;
    outline:none;
}
.name31{
    position:relative;
    left:30px;
}
.name12{
    display:block;
    color:#FFFFFF;
    position:relative;
    left:300px;
}
#name3{
    background-color:#000000;
    display:flex;
    color:#FFFFFF;
    height:300px;
}
.name11{
    background-image: url("../pages/img55/底部背景.jpg");
    display:flex;
    height:320px;
    background-color:rgba(121,156,182,0.2);
}
#name4{
    position:absolute;
    top:4694px;
    left:120px;
}
#name5{
    position:relative;
    top:100px;
}
#name6{
    position:relative;
    top:90px;
    left:90px;
}
.name15 a{
    color:#000000;
    text-decoration:none;
}
.name15{
    position:relative;
    top:40px;
    left:130px;
}
#name15{
    width:280px;
    height:40px;
    border-radius:30px;
    outline:none;
    border-color:rgba(0,0,0,0.2);
    background-color:rgba(0,0,0,0.2);
}
#name16{
    background-color:darkgray;
    height:45px;
    width:60px;
    border-radius:0 30px 30px 0;
    outline:none;
    position:relative;
    left:-64px;
    top:1px;
    background-color:rgba(0,0,0,0.2);
    border-color:rgba(0,0,0,0.4);
}
.name1101{
    font-family:Georgia;
    font-size:50px;
    font-weight:500;
    position:relative;
    left:-70px;
    top:-10px;
}
.meng{
    border:1px solid darkgray;
    height:0px;
    width:960px;
    background-color: #999999;
    margin:30px 12px 60px 12px;
    opacity:0.1;
}
.name50{
    width:907px;
    height:561px;
    border:2px solid rgba(121,156,182,0.1);
    margin-left:30px;
    margin-bottom:40px;
    padding:8px ;
    box-shadow: #bdbdbd 8px 5px 20px;

}
.name50 img{
    position: absolute;          /*让所有图片显示在一个位置，设置绝对位置*/
    opacity: 0;
    animation: liuyuan 12s infinite;      /*设置图片轮播一次时间，以及轮播方式（无限循环）*/
}
@keyframes liuyuan{
    0% {                  /*在百分之零时图片完全不可见*/
        opacity: 0;
    }
    1% {
        opacity: 0.3;
    }
    2% {
        opacity: 0.5;
    }
    3% {
        opacity: 0.8;
    }
    4% {                 /*设置这些尽量让图片切换时更加流畅，不突兀*/
        opacity: 1;
    }
    24% {
        opacity: 1;
    }
    25% {               /*在此时本张图片显示结束，不透明度设置为0*/
        opacity: 0;
    }
}
img:nth-child(0){animation-delay: 0s;}/*设置下一个子元素延迟时间*/
img:nth-child(1){animation-delay: 3s;}
img:nth-child(2){animation-delay: 6s;}
img:nth-child(3){animation-delay: 9s;}
.name1102{
    text-align:center;
}
#name2201{
    position:relative;
    top:-15px;
}
.name0{
    width:300px;
    height:400px;
    border:2px solid rgba(121,156,182,0.1);
    margin-left:30px;
    margin-bottom:40px;
    padding:8px ;
    box-shadow: #bdbdbd 8px 5px 20px;
    display:inline-block;
}
.name0 img{
    position: absolute;          /*让所有图片显示在一个位置，设置绝对位置*/
    opacity: 0;
    animation: dang 12s infinite;      /*设置图片轮播一次时间，以及轮播方式（无限循环）*/
}
@keyframes dang{
    0% {                  /*在百分之零时图片完全不可见*/
        opacity: 0;
    }
    1% {
        opacity: 0.3;
    }
    2% {
        opacity: 0.5;
    }
    3% {
        opacity: 0.8;
    }
    4% {                 /*设置这些尽量让图片切换时更加流畅，不突兀*/
        opacity: 1;
    }
    24% {
        opacity: 1;
    }
    25% {               /*在此时本张图片显示结束，不透明度设置为0*/
        opacity: 0;
    }
}
img:nth-child(0){animation-delay: 0s;}/*设置下一个子元素延迟时间*/
img:nth-child(1){animation-delay: 3s;}
img:nth-child(2){animation-delay: 6s;}
img:nth-child(3){animation-delay: 9s;}
.name0:hover{
    transform:translate(4px,5px);
}
#liu1{
    position:relative;
    top:-465px;
    left:340px;
}
#yuan1{
    position:relative;
    top:-860px;
    left:750px;
}
#liu2{
    position:relative;
    top:-700px;
    left:600px;
}
#liu3{
    position:relative;
    top:-1164px;
    left:260px;
}
#yuan2{
    position:relative;
    left:-200px;
    top:-370px;
}
#yuan3{
    position:relative;
    left:00px;
    top:-1385px;
}
.liu4{
    position:relative;
    left:-22px;
    top: -2048px;
}
.liu5{
    position:relative;
    left:307px;
    top:-2773px;
}
.liu6{
    position:relative;
    left:638px;
    top:-1323px;
}
.liu7{
    position:absolute;
    left:-13px;
    top:3768px;
}
.liu8{
    position:absolute;
    left:317px;
    top:3768px;
}
.liu9{
    position:absolute;
    left:647px;
    top:3768px;
}
.yuan40{
    background-color: black;
    border-radius:30px;
    width: 130px;
    height:40px;
    margin: 10px 0 0 60px;
    padding:10px 5px 5px 5px;
    text-decoration: none;
}
section{
    height: 4100px;
}
.ren1{
    width:316px;
    height:210px;
    position:absolute;
    top:210px;
    left:0px;
    display:none;
    z-index:100;
}
#ze1:hover .ren1{
    display:block;
}
.ren2{
    width:316px;
    height:210px;
    position:absolute;
    top:210px;
    left:0px;
    display:none;
    z-index:100;
}
#ze2:hover .ren2{
    display:block;
}
.ren3{
    width:316px;
    height:210px;
    position:absolute;
    top:210px;
    left:0px;
    display:none;
    z-index:100;
}
#ze3 img:hover .ren3{
    display:block;
}
.ren4 {
    width:316px;
    height:210px;
    position:absolute;
    top:210px;
    left:0px;
    display:none;
    z-index:100;
}
#ze4:hover .ren4{
    display:block;
}
.zuo{
    position:fixed;
    top:401px;
    left:940px;
    width:70px;
    height:70px;
}
#zhu{
    position:relative;
    top:-20px;
    left:-12px;
}
#zhu1{
    position:relative;
    top:-38px;
    left:-30px;
}




